<div class="container" ng-controller="Create">

<input type="text" class="form-control" ng-model="module" placeholder="모듈명">


<button type="button" class="btn btn-default" ng-click="fnAdd()">추가</button>
<button type="button" class="btn btn-default" ng-click="fnJava()">생성</button>

<div class="row">
<div class="col-xs-6">
<form class="form-inline">

<div class="form-group">
<label class="sr-only" for="type">type</label>
<input type="text" class="form-control" ng-model="type" placeholder="id type">
</div>

<div class="form-group">
<label class="sr-only" for="name">name</label>
<input type="text" class="form-control" ng-model="name" placeholder="id name">
</div>

<div ng-repeat="field in fields">
<button type="button" class="btn btn-default" ng-click="fnDel($index)">삭제</button>

<div class="form-group">
<label class="sr-only" for="type">type</label>
<input type="text" class="form-control" ng-model="field.type" placeholder="type">
</div>

<div class="form-group">
<label class="sr-only" for="name">name</label>
<input type="text" class="form-control" ng-model="field.name" placeholder="name">
</div>

</div>

</form>
</div>
<div class="col-xs-6">

<!-- JAVA Getter Setter -->
<div>
<pre>
public class {{module | frist_uppercase}} {
	private {{type}} {{name}};
	<span ng-repeat="field in fields">private {{field.type}} {{field.name}};</span>
}
</pre>
</div>
<!-- JAVA Getter Setter -->


<div>
<pre>
&lt;?xml version="1.0" encoding="UTF-8" ?&gt;
&lt;!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"&gt;
&lt;mapper namespace="com.ain.modules.{{module}}.mapper.{{module | frist_uppercase}}Mapper"&gt;
	
	&lt;resultMap id="{{module}}" type="com.ain.modules.{{module}}.domain.{{module | frist_uppercase}}"&gt;
		&lt;id property="{{name}}" column="{{name}}" /&gt;
		&lt;result property="{{field.name}}" column="{{field.name}}" /&gt;
	&lt;/resultMap&gt;
	
	&lt;select id="select" resultMap="{{module}}"&gt;
		SELECT * FROM {{module}}
	&lt;/select&gt;
	
	&lt;select id="selectCount" resultType="int"&gt;
		SELECT NVL(COUNT(*),0) FROM {{module}}
	&lt;/select&gt;
	
	&lt;select id="selectOne" resultMap="{{module}}"&gt;
		SELECT * FROM {{module}} WHERE {{name}} = #{<span ng-bind="name"></span>}
	&lt;/select&gt;
	
	&lt;insert id="insert" useGeneratedKeys="true" keyProperty="{{name}}"&gt;
	
		&lt;selectKey keyProperty="{{name}}" resultType="{{type}}" order="BEFORE"&gt;
		SELECT {{module | uppercase}}_{{name | uppercase}}_SEQ.NEXTVAL FROM DUAL
		&lt;/selectKey&gt;
		
		INSERT INTO {{module}} (
			<div ng-repeat="field in fields">{{field.name}}<span ng-if="$middle">,</span></div>
		) VALUES (
			<div ng-repeat="field in fields">#{<span ng-bind="field.name"></span>}<span ng-if="$middle">,</span></div>
		)
	&lt;/insert&gt;
	
	&lt;update id="update"&gt;
		UPDATE {{module}} SET
			<div ng-repeat="field in fields">{{field.name}} =  #{<span ng-bind="field.name"></span>}</div>
		WHERE {{name}} = #{<span ng-bind="name"></span>}
	&lt;/update&gt;
	
	&lt;delete id="delete"&gt;
		DELETE FROM {{name}} = #{<span ng-bind="name"></span>}
	&lt;/delete&gt;
	
&lt;/mapper&gt;
</pre>
</div>


</div>


</div>